server {
  server_name {{DOMAIN}};
  root {{APP_DIR}};
  index   index.html index.htm;

  # logging
  access_log /var/log/nginx/{{DOMAIN}}.access.log;
  error_log /var/log/nginx/{{DOMAIN}}.error.log warn;

  location / {
    root {{APP_DIR}};
    index   index.html index.htm;
    try_files $uri  /index.html;
  }
}